# App
HTTP_PORT=8080

# Database
DB_HOST=db
DB_PORT=5432
DB_USER=taskforge
DB_PASSWORD=changeme
DB_NAME=taskforge
DB_SSL_MODE=disable

# Log
LOG_LEVEL=info # "debug", "info", "warn", "error"
LOG_FORMAT=json # "json", "text"